nav{
    /* border: solid; */
    /* justify-content: space-between; */
    width: 100%;
     

}

h1{
     font-family: "Dancing Script", cursive;
     padding-left: 330px;
     padding-top: 240px;
     /* border: solid; */
     
}
